.row
  .span3
    h3 Facebook Profile
    p 
      b Name:  
      #{userName}
    p
      b Age:
      #{age}
  .span7
    h2 Home
    p This is sample application in Node.JS to show how to use it with facebook integration.