div.topbar
    div.fill
        div.container
            a.brand ECards for Facebook
            ul.nav
                li 
                    a(href='/') Home
                li 
                    a(href='/ecards') Send ECards
                li 
                    a(href='/about') About
div.container
    div.row
        div.span12
            h1 Welcome to #{title}
